div{
    border: 2px solid black;
}

#container{
    display: flex;
    flex-direction: column;
    margin: 100px 650px 100px 650px; /*Dimension of calculator*/
}

#screen{
    padding: 50px;
    background-color: gray;
}

#buttons{
    display: flex;
}

#numbers{
    display: flex;
    flex-wrap: wrap;
}

#numbers > button{
    background-color: yellow;
    font-size: larger;
    font-weight: 900;
}

#operands{
    display: flex;
    flex-wrap: wrap;
}

#operands > button{
    background-color: black;
    color: white;
    font-size: larger;
    font-weight: 900;
}


button{
    flex-grow: 1;
    padding: 40px;
}